

{% extends "base.html" %} {% block content %}
<h1>Data Agumentation</h1>
	<div class="one">
    <form id="upload-file" method="post" enctype="multipart/form-data">
    
			<p><b>Rotation Range</b></p>
			
			<input class="i2" type="text" name="rotation_range" placeholder="Enter rotation range"><br>

			<p><b>Width Shift Range</b></p>
	
        	<input class="i2" type="text" name="width_shift_range" 
        	placeholder="Enter width shift range(0 to 1)"><br>	
        				
			<p><b>Height Shift Range</b></p>
			<input class="i2" type="text" name="height_shift_range" 
			placeholder="Enter height_shift_range(0 to 1)"><br>	
			<p><b>Shear Range</b></p>
			<input class="i2" type="text" name="shear_range"
			 placeholder="Enter shear range (0 to 1)"><br>	
			<p><b>Zoom Range</b></p>
			<input class="i2" type="text" name="zoom_range"
			 placeholder="Enter zoom range"><br>    	
			<p><b>Horizontal Flip</b></p>

            <select name="horizontal_flip" class="i3">
            <option value=".">Select the option</option>
              <option value="1">True</option>
              <option value="0">False</option>
    
            </select><br> 
            <p><b>Fill mode</b></p>
            <select name="fill_mode" class="i3">
            <option value=".">Select the option</option>
              <option value="constant">constant</option>
              <option value="nearest">nearest</option>
                <option value="constant">reflect</option>
              <option value="nearest">wrap</option>
            </select><br>
            <br>
            
            <p><b>No. of data agumentated image</b></p>
	
        	<input class="i2" type="text" name="num" 
        	placeholder="Enter No. of data agumentated image"><br>	
        	
        	<br>
        	 <p><b>Prefix</b></p>
	
        	<input class="i2" type="text" name="prefix" 
        	placeholder="Enter the image prefix"><br>	
        	
        	<p><b>Parent Directory</b></p>
	
        	<input class="i2" type="text" name="pd" 
        	placeholder="Enter the directory to save the images"><br>
        	
        	<p><b>Folder Name</b></p>
	
        	<input class="i2" type="text" name="fn" 
        	placeholder="Enter the folder name to store images inside it"><br>

<br>
<br>
   
    <center>    <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </center>
    
 </form>
    <div>

   <center> <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div></center>
        </div>
        <center><div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Agument</button>
        </div></center>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>

</div>

       

{% endblock %}
